<div class="container">
  <div class="row">
    <div class="col-md-7 left">
      <img [src]="imageSrc || '../../../assets/dummy.jpg'" alt="picture" />
    </div>
    <div class="col-md-5 right p-5">
      <h2 class="mb-4 h2">New Product</h2>
      <form [formGroup]="productLoadForm" (submit)="onSubmit()">
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('title').hasError('required') &&
              productLoadForm.get('title').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Title Required!
          </p>
          <p
            *ngIf="
              productLoadForm.get('title').hasError('maxlength') &&
              productLoadForm.get('title').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Title too long!
          </p>
          <label for="title">Title</label>
          <input
            [formControlName]="'title'"
            type="text"
            class="form-control"
            id="title"
            placeholder="title"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('category').invalid &&
              productLoadForm.get('category').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Category Required!
          </p>
          <label for="category">Category</label>
          <select
            [formControlName]="'category'"
            class="form-select"
            aria-label="Default select example"
          >
            <option value="sweatshirt">Sweatshirt</option>
            <option value="pants">Pants</option>
            <option value="shirts">Shirts</option>
            <option value="jumper">Jumper</option>
            <option value="coats">Coats</option>
            <option value="jacket">Jacket</option>
            <option value="shorts">Shorts</option>
          </select>
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('price').invalid &&
              productLoadForm.get('price').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Price Required!
          </p>
          <label for="price">Price ($)</label>
          <input
            [formControlName]="'price'"
            type="number"
            class="form-control"
            id="price"
            placeholder="price"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('description').invalid &&
              productLoadForm.get('description').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Description Required!
          </p>
          <label for="description">Description</label>
          <textarea
            rows="4"
            [formControlName]="'description'"
            id="description"
            placeholder="write some description about product"
          ></textarea>
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('picture').invalid &&
              productLoadForm.get('picture').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Picture Required!
          </p>
          <label for="picture">Choose a Picture</label>
          <input
            [formControlName]="'picture'"
            type="file"
            (change)="readURL($event)"
            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
            class="form-control"
            id="picture"
          />
        </div>
        <div class="form-group">
          <p
            *ngIf="
              productLoadForm.get('stock').invalid &&
              productLoadForm.get('stock').touched
            "
            class="help-block mb-0 bg-danger text-white rounded text-center"
          >
            Stock Required!
          </p>
          <label for="stock">Stock</label>
          <input
            [formControlName]="'stock'"
            type="number"
            class="form-control"
            id="stock"
            placeholder="stock"
          />
        </div>
        <div class="form-group">
          <span *ngIf="isDataSavedSuccessfully" class="text-success float-left"
            >Saved <fa-icon [icon]="faCheck"></fa-icon
          ></span>
          <span
            *ngIf="isDataSavedSuccessfully == false"
            class="text-danger float-left"
            >Error Occured, Try Again <fa-icon [icon]="faX"></fa-icon
          ></span>
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <button
            [disabled]="productLoadForm.invalid"
            type="submit"
            class="btn btn-primary btn-sm float-end"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
