<div class="container">
  <div class="row">
    <div class="col-sm-4 left">
      <h5 class="text-center">Contact</h5>
      <div class="hr"></div>
      <br />
      <p class="shop text-center">Commerce</p>
      <hr />
      <p class="title">Phone Number</p>
      <a class="light" href="tel:+903120000000">+90312-000-0000</a>
      <hr />
      <p class="title">E-Mail</p>
      <a class="light" href="mailto:topaloglu08@gmail.com"
        >topaloglu08@gmail.com</a
      >
      <hr />
      <p class="title">Address</p>
      <p class="light">Mebusevleri Mh. Ergin Sk. No:28 Çankaya/Ankara</p>
    </div>
    <div class="col-sm-8 right">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.4763718645895!2d32.83138695109636!3d39.93073287932361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34ee0ff1fcbb5%3A0x6b4d84c0f3e73b6d!2sMebusevleri%2C%20Ergin%20Sk.%20No%3A28%2C%2006570%20%C3%87ankaya%2FAnkara!5e0!3m2!1str!2str!4v1647723951418!5m2!1str!2str"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
